/* common styles  */

*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
.color-primary{
    color: red;
}
.text-description{
    color: rgba(7, 2, 17, 0.6);
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}
section{
    max-width:1320px ;
    margin-top: 120px;
}
/* header section  */

.header-content{
    max-width: 1320px;
    height: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url('../images/Banner\ Image.png');
    background-size: cover;
    background-color:rgba(0,0,0,0.5);
    background-blend-mode: overlay;
    color: white;
    margin-top: 50px;
    border-radius: 16px;
}
.header-content>h3{
    font-size: 32px;
}
.header-content>h1{
    font-size: 72px;
    max-width: 630px;
}

/* main */
/* discount section  */
.discount-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.discount-content>h1{
    font-size: 88px;
    font-weight: 700;
    color: rgb(255, 0, 0);
}
.discount-content>h3{
    font-size: 24px;
    font-weight: 500;
    color: rgb(255, 0, 0);
    margin-top: 50px;
}
.discount-content>h2{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 50px;
}

/* holyday section  */
.what-is-function{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1060px;
}
.what-is-function>h1{
    font-size: 72px;
    font-weight: 900;
}
.holyday-banner-container{
    background-image: url("../images/Rectangle\ 2.png");
    background-position: bottom center;
    background-repeat: no-repeat;
    height: 780px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.holyday-banner-left{
    position: absolute;
    bottom: 20px;
    left: 70px;
}
.holyday-banner-left img{
    width: 670px;
    height: 570px;
}
.holyday-banner-right{
    width: 220px;
    position: absolute;
    right: 120px;
    top: 150px;
}